<div id="HouseMembers">

	<div class="md-content">

		<h1><%= @house.name.split.map(&:capitalize)*' ' %> Members</h1>
		<div id="fields">

<ul>
	<% @house.users.each do |user| %>
	<li><%= user.first_name %> <%= user.last_name %> <%= @house.id %> | <%= link_to 'Add face', user_house_pictures_upload_path(user.id, @house.id) %></li>
	<% end %>
</ul>



<ul>
<% @house.pictures.each do |picture| %>
  <li><%= image_tag picture.image.url(:large) %>
<%= link_to "Delete", picture_delete_path(picture), :method => :delete %> /
<% end %>
</ul>

<%= link_to 'back to profile', controller: 'users', action: 'dashboard' %>
