<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Peek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <header>
    <%= image_tag("peek_logo_text_as_vector2.png", size: "160x50", alt: "PEEK") %>
  </header>
  <nav id="nav">
    <% if current_user %>
    Signed in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to 'Logout', logout_path, class:"btn" %>
    <% else %>
    <%= link_to 'Login', login_path, class:"btn" %>  <%= link_to 'Signup', signup_path, class:"btn" %>
    <% end %>
  </nav>

  <%= yield %>

</body>
<footer>
  <%= "Copyright (c) 2016" %>
</footer>

</html>
